@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

:root {
  --font-base: 'Lato', sans-serif;

  --primary-color: #565656;
  --secondary-color: #a2dbffc3;
  --tertiary-color: #e6f5ffd6;
  --tertiary-color: #e6f5ff;

  --dark-color: #8d8d8d;
  --light-color: #f5f5f5;

  --gradient-background: linear-gradient(
    45deg,
    var(--secondary-color),
    var(--light-color)
  );

  --dark-shadow: 0px 2px 10px #aeaeae9c;
  --light-shadow: 1px 1px 2px #b7b7b7;
}

/* GLOBAL */

.active {
  background: #3fc883d7;
  color: #f1f9ff;
}

.btn,
.float-btn {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: var(--light-shadow);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

.float-btn {
  border-radius: 50%;
}

.btn:hover,
.float-btn:hover {
  transform: translateY(-2px) scale(0.99);
  box-shadow: var(--dark-shadow);
}

.btn:focus,
.float-btn:hover {
  transform: translateY(0px) scale(0.97);
  box-shadow: var(--light-shadow);
}
