.footer {
  background-image: var(--gradient-background);
  clip-path: polygon(0 23%, 100% 0, 100% 100%, 0% 100%);
  height: 10vh;
  width: 100%;

  display: flex;

  z-index: 1;

  &__copyright {
    width: 100%;
    font-size: 1.2rem;
    color: var(--dark-color);
    text-transform: uppercase;
    padding-right: 1rem;
    align-self: center;
    text-align: end;
  }
}
